
html{
    font-family: 'Oswald', sans-serif;
    font-family: 'Tilt Warp', cursive;
    align-items: center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
#grid{
    display: grid;
    grid-template-columns: repeat(6, 140px);
}
.element{
    border: 1px solid black;
    padding: 10px;
}
form{
    display: inline-block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
button{
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-family: 'Tilt Warp', cursive;
    border: 0px;
    margin: 20px;
    padding: 20px;
    background-color: rgb(46, 46, 255);
    color: white;
}